
/* Add your CSS here */
html {
    font-size: 16px; /* Set the base font size */
    font-family: Arial, sans-serif; /* Set the default font family */
    line-height: 1.5; /* Set the default line height */
    background-color: #FAEDCD;
}


body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100%;
  } 


@media screen and (max-width: 768px) {
    /* CSS rules for screens with a maximum width of 768px (including tablets and phones) */
}

@media screen and (max-width: 480px) {
    /* CSS rules for screens with a maximum width of 480px (phones) */
}

@media screen and (max-width: 320px) {
    /* CSS rules for screens with a maximum width of 320px (smaller phones) */
}

/* General form styling */
form {
    margin: 0 auto;
    width: 50%;
    padding: 10px; /* Reduced padding */
    border: 1px solid black; /* Adjusted border width */
    border-radius: 5px; /* Reduced border-radius */
    background-color: #FBECEB;
    text-align: center;
  }
  
  form h1 {
    font-size: 2em;
    color: #8c3f09;
    text-align: left; /* Title alignment to left */
  }
  
  form h2 {
    font-size: 1.5em;
    color: #8c3f09;
  }
  
  form h3 {
    font-size: 1.2em;
    color: #8c3f09;
  }
  
  form label {
    font-size: 1.2em;
    color: #8c3f09;
  }
  
  form select {
    font-size: 1.2em;
    color: #8c3f09;
  }
  
  form input {
    font-size: 1.2em;
    color: #8c3f09;
  }
  
  form textarea {
    font-size: 1.2em;
    color: #8c3f09;
  }
  
  form button {
    font-size: 1.5em; /* Adjusted button font size */
    color: #8c3f09;
    background-color: #FAC965;
    border: 1px solid #8c3f09; /* Adjusted border width */
    border-radius: 5px; /* Reduced border-radius */
    padding: 8px; /* Adjusted padding */
    margin-top: 10px;
  }
  
  form button:hover {
    background-color: #D22242;
    color: white;
  }
  