
/* Add your CSS here */
html {
    font-size: 16px; /* Set the base font size */
    font-family: Arial, sans-serif; /* Set the default font family */
    line-height: 1.5; /* Set the default line height */
    background-color: #FAEDCD;
}


body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100%;
  } 


@media screen and (max-width: 768px) {
    /* CSS rules for screens with a maximum width of 768px (including tablets and phones) */
}

@media screen and (max-width: 480px) {
    /* CSS rules for screens with a maximum width of 480px (phones) */
}

@media screen and (max-width: 320px) {
    /* CSS rules for screens with a maximum width of 320px (smaller phones) */
}

/* General form styling */

  