
/* Add your CSS here */
html {
    font-size: 16px; /* Set the base font size */
    font-family: Arial, sans-serif; /* Set the default font family */
    background-color: #FAEDCD;
}

.flavors-regular {
    font-family: "Flavors", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

  .press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .petit-formal-script-regular {
    font-family: "Petit Formal Script", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
body {
    height: 100%;
  } 


@media screen and (max-width: 768px) {
    /* CSS rules for screens with a maximum width of 768px (including tablets and phones) */
}

@media screen and (max-width: 480px) {
    /* CSS rules for screens with a maximum width of 480px (phones) */
}

@media screen and (max-width: 320px) {
    /* CSS rules for screens with a maximum width of 320px (smaller phones) */
}

/* General form styling */

  